body
{
	background-color: navy;	
	font-family: "Calibri", sans-serif;
}
#name
{
	color: gold;
	font-weight: bold;
	text-align: center;
}
#headline
{
	color: lightgray;
	font-style: italic;
	text-align: center;
}
#year
{
	color: white;
	text-align: center;
}
.intro
{
	color: white;
	margin-left: 150px;
	margin-right: 150px;
}
img
{
	display: block;
	margin: 0 auto;
}
#caption
{
	color: white;
	text-align: center;
}