body
{
	background-color: navy;	
	font-family: "Calibri", sans-serif;
}
h1
{
	color: gold;
	font-weight: bold;
	text-align: center;
}
h2
{
	color: lightgray;
	font-style: italic;
	text-align: center;
}
h3
{
	color: white;
	text-align: center;
}
p
{
	color: white;
	margin-left: 150px;
	margin-right: 150px;
}
img
{
	display: block;
	margin: 0 auto;
}
h5
{
	color: white;
	text-align: center;
}